## Preprocessing with scikit learn

In [1]:
import os
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading file from path
def loading_file():
    file_dir = '/home/nbuser/library/1. Classifier/3. Exploratory Data Analysis'        
    file_list = glob.glob(file_dir + '/*.csv')
    csv_file = file_list[1]
    return csv_file

# Import file imto Pandas DataFrame
def importing_file(csv_file):
    df = pd.read_csv(csv_file, sep=",")
    return df

# Saving path
def saving_file(file, file_name, save_dir):
    file.to_csv(os.path.join(save_dir,file_name))

In [3]:
# Importing file + Loading  file
news_df = importing_file(loading_file())

# Top 5 records
news_df.head()

,file_name,title,news_text,category
0,164.txt,Parker's saxophone heads auction,A saxophone belonging to legendary jazz musici...,entertainment
1,012.txt,Edwards tips Idowu for Euro gold,World outdoor triple jump record holder and BB...,sports
2,257.txt,Blair and Brown criticised by MPs,Labour MPs have angrily criticised Tony Blair ...,politics
3,238.txt,Firms pump billions into pensions,Employers have spent billions of pounds proppi...,business
4,400.txt,Monsanto fined $1.5m for bribery,The US agrochemical giant Monsanto has agreed ...,business

In [4]:
news_df.shape

(2003, 4)

In [5]:
news_df.category.unique()

array(['entertainment', 'sports', 'politics', 'business', 'tech'],
      dtype=object)

In [24]:
news_df.category.value_counts()

business         466
sports           457
politics         368
tech             364
entertainment    348
Name: category, dtype: int64

### Clean the news_text column

In [6]:
import re
def clean_text(x):
    pattern = r'[^a-zA-z0-9\s]'
    text = re.sub(pattern, '', x)
    return text

In [7]:
def clean_all_text(df):
    for index, item in df.iterrows():
        cleantext = clean_text(item['news_text'])
        item['news_text'] = cleantext
    return df

In [8]:
news_df = clean_all_text(news_df)

#### Split the dataset

In [9]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Create a series to store the labels: y
y = news_df["category"]

# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(news_df["news_text"], y, test_size=0.3, random_state=53)

#### CountVectorizer for text classification

In [10]:
# Import the necessary modules
from sklearn.feature_extraction.text import CountVectorizer

# Initialize a CountVectorizer object: count_vectorizer
count_vectorizer = CountVectorizer(stop_words="english")

# Transform the training data using only the 'text' column values: count_train 
count_train = count_vectorizer.fit_transform(X_train)

# Transform the test data using only the 'text' column values: count_test 
count_test = count_vectorizer.transform(X_test)

            
# Print the first 10 features of the count_vectorizer
print(count_vectorizer.get_feature_names()[:100])

['00', '000', '00051', '001', '003', '004secs', '007', '01', '0100', '0130', '019secs', '02', '0200', '022', '0227', '024', '025', '027', '028', '03', '030', '0300', '0305', '04', '040', '041', '048', '05', '053', '053bn', '05overall', '06', '0605', '0605festival', '0619', '07', '0700', '0710', '08', '0800', '083mph', '085', '0870', '089', '09', '090', '0900', '098', '099', '10', '100', '1000', '10000', '100000', '10000m', '10000vote', '1000bn', '1000m', '1000s', '1000th', '1001st', '1008', '100bn', '100m', '100mthey', '100s', '101', '101115', '10137', '1015', '1019', '101yearold', '102', '1020', '10216bn', '1022', '10227', '1025', '1026bn', '10276', '10280', '1028bn', '102inch', '102m', '103', '1030', '10360', '1038548recent', '1038am', '103bn', '103m', '104', '1040', '104000', '10416', '1044', '10499', '104bn', '104m', '105']

#### TfidfVectorizer for text classification

In [11]:
# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize a TfidfVectorizer object: tfidf_vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words="english",max_df=0.7)

# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(X_test)
    
print(tfidf_vectorizer.get_feature_names()[:100])

['00', '000', '00051', '001', '003', '004secs', '007', '01', '0100', '0130', '019secs', '02', '0200', '022', '0227', '024', '025', '027', '028', '03', '030', '0300', '0305', '04', '040', '041', '048', '05', '053', '053bn', '05overall', '06', '0605', '0605festival', '0619', '07', '0700', '0710', '08', '0800', '083mph', '085', '0870', '089', '09', '090', '0900', '098', '099', '10', '100', '1000', '10000', '100000', '10000m', '10000vote', '1000bn', '1000m', '1000s', '1000th', '1001st', '1008', '100bn', '100m', '100mthey', '100s', '101', '101115', '10137', '1015', '1019', '101yearold', '102', '1020', '10216bn', '1022', '10227', '1025', '1026bn', '10276', '10280', '1028bn', '102inch', '102m', '103', '1030', '10360', '1038548recent', '1038am', '103bn', '103m', '104', '1040', '104000', '10416', '1044', '10499', '104bn', '104m', '105']

#### Show Vectors as Features

In [12]:
# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

# Print the head of count_df
print(count_df.head())
print()
# Print the head of tfidf_df
print(tfidf_df.head())

# Calculate the difference in columns: difference
difference = set(count_df.columns) - set(tfidf_df.columns)
print(difference)

# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

   00  000  00051  001  003  004secs  007  01  0100  0130     ...       zones  \
0   0    0      0    0    0        0    0   0     0     0     ...           0
1   0    0      0    0    0        0    0   0     0     0     ...           0
2   0    0      0    0    0        0    0   0     0     0     ...           0
3   0    0      0    0    0        0    0   0     0     0     ...           0
4   0    0      0    0    0        0    0   0     0     0     ...           0

   zoom  zoomsmore  zorro  zubair  zuluaga  zurich  zutons  zvonareva  \
0     0          0      0       0        0       0       0          0
1     0          0      0       0        0       0       0          0
2     0          0      0       0        0       0       0          0
3     0          0      0       0        0       0       0          0
4     0          0      0       0        0       0       0          0

   zvyagintsev
0            0
1            0
2            0
3            0
4            0

[5 rows x 31334 columns]

    00  000  00051  001  003  004secs  007   01  0100  0130     ...       \
0  0.0  0.0    0.0  0.0  0.0      0.0  0.0  0.0   0.0   0.0     ...
1  0.0  0.0    0.0  0.0  0.0      0.0  0.0  0.0   0.0   0.0     ...
2  0.0  0.0    0.0  0.0  0.0      0.0  0.0  0.0   0.0   0.0     ...
3  0.0  0.0    0.0  0.0  0.0      0.0  0.0  0.0   0.0   0.0     ...
4  0.0  0.0    0.0  0.0  0.0      0.0  0.0  0.0   0.0   0.0     ...

   zones  zoom  zoomsmore  zorro  zubair  zuluaga  zurich  zutons  zvonareva  \
0    0.0   0.0        0.0    0.0     0.0      0.0     0.0     0.0        0.0
1    0.0   0.0        0.0    0.0     0.0      0.0     0.0     0.0        0.0
2    0.0   0.0        0.0    0.0     0.0      0.0     0.0     0.0        0.0
3    0.0   0.0        0.0    0.0     0.0      0.0     0.0     0.0        0.0
4    0.0   0.0        0.0    0.0     0.0      0.0     0.0     0.0        0.0

   zvyagintsev
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0

[5 rows x 31333 columns]
{'said'}
False

#### Training and testing the model with CountVectorizer

In [13]:
# Import the necessary modules
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

# Instantiate a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier = MultinomialNB()

# Fit the classifier to the training data
nb_classifier.fit(count_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(count_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print(score)

# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=['entertainment', 'politics', 'business', 'sports', 'tech'])
print(cm)

0.9717138103161398
[[102   2   0   0   1]
 [  0 101   0   0   0]
 [  0   8 134   0   4]
 [  0   0   0 143   0]
 [  0   1   0   1 104]]

#### Training and testing the model with TfidfVectorizer

In [14]:
# Create a Multinomial Naive Bayes classifier: nb_classifier
nb_classifier = MultinomialNB()

# Fit the classifier to the training data
nb_classifier.fit(tfidf_train, y_train)

# Create the predicted tags: pred
pred = nb_classifier.predict(tfidf_test)

# Calculate the accuracy score: score
score = metrics.accuracy_score(y_test, pred)
print(score)

# Calculate the confusion matrix: cm
cm = metrics.confusion_matrix(y_test, pred, labels=['entertainment', 'politics', 'business', 'sports', 'tech'])
print(cm)

0.9683860232945092
[[100   3   1   0   1]
 [  0 101   0   0   0]
 [  0   5 139   0   2]
 [  0   0   0 143   0]
 [  0   2   2   3  99]]

#### Improving your model

In [15]:
# Create the list of alphas: alphas
alphas = np.arange(0, 1, .1)

# Define train_and_predict()
def train_and_predict(alpha):
    # Instantiate the classifier: nb_classifier
    nb_classifier = MultinomialNB(alpha=alpha)
    # Fit to the training data
    nb_classifier.fit(tfidf_train, y_train)
    # Predict the labels: pred
    pred = nb_classifier.predict(tfidf_test)
    # Compute accuracy: score
    score = metrics.accuracy_score(y_test, pred)
    return score

# Iterate over the alphas and print the corresponding score
best_alfa_score = {}
for alpha in alphas:
    best_alfa_score[alpha] = train_and_predict(alpha)
    print('Alpha: ', alpha)
    print('Score: ', train_and_predict(alpha))
    print()
best_score = max(best_alfa_score, key=best_alfa_score.get)

print("Best alfa: ", best_score, "best accuracy: ",best_alfa_score[best_score])

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/sklearn/naive_bayes.py:472: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

Alpha:  0.0
Score:  0.9683860232945092

Alpha:  0.1
Score:  0.9750415973377704

Alpha:  0.2
Score:  0.9750415973377704

Alpha:  0.30000000000000004
Score:  0.9750415973377704

Alpha:  0.4
Score:  0.9717138103161398

Alpha:  0.5
Score:  0.9733777038269551

Alpha:  0.6000000000000001
Score:  0.9700499168053245

Alpha:  0.7000000000000001
Score:  0.9700499168053245

Alpha:  0.8
Score:  0.9683860232945092

Alpha:  0.9
Score:  0.9683860232945092

Best alfa:  0.1 best accuracy:  0.9750415973377704

In [16]:
# Create the list of alphas: alphas
alphas = np.arange(0, 1, .1)

# Define train_and_predict()
def train_and_predict(alpha):
    # Instantiate the classifier: nb_classifier
    nb_classifier = MultinomialNB(alpha=alpha)
    # Fit to the training data
    nb_classifier.fit(count_train, y_train)
    # Predict the labels: pred
    pred = nb_classifier.predict(count_test)
    # Compute accuracy: score
    score = metrics.accuracy_score(y_test, pred)
    return score

# Iterate over the alphas and print the corresponding score
best_alfa_score = {}
for alpha in alphas:
    best_alfa_score[alpha] = train_and_predict(alpha)
    print('Alpha: ', alpha)
    print('Score: ', train_and_predict(alpha))
    print()
best_score = max(best_alfa_score, key=best_alfa_score.get)

print("Best alfa: ", best_score, "best accuracy: ",best_alfa_score[best_score])

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/sklearn/naive_bayes.py:472: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

Alpha:  0.0
Score:  0.9717138103161398

Alpha:  0.1
Score:  0.9816971713810316

Alpha:  0.2
Score:  0.9800332778702163

Alpha:  0.30000000000000004
Score:  0.978369384359401

Alpha:  0.4
Score:  0.978369384359401

Alpha:  0.5
Score:  0.978369384359401

Alpha:  0.6000000000000001
Score:  0.9733777038269551

Alpha:  0.7000000000000001
Score:  0.9717138103161398

Alpha:  0.8
Score:  0.9717138103161398

Alpha:  0.9
Score:  0.9717138103161398

Best alfa:  0.1 best accuracy:  0.9816971713810316

#### Inspecting the model

In [18]:
# Get the class labels: class_labels
class_labels = nb_classifier.classes_

# Extract the features: feature_names
feature_names = tfidf_vectorizer.get_feature_names()

# Zip the feature names together with the coefficient array and sort by weights: feat_with_weights
feat_with_weights = sorted(zip(nb_classifier.coef_[0], feature_names))

# Print the first class label and the top 20 feat_with_weights entries
print(class_labels[0], feat_with_weights[:20])

# Print the second class label and the bottom 20 feat_with_weights entries
print(class_labels[1], feat_with_weights[-20:])

business [(-10.45661585751269, '00'), (-10.45661585751269, '000'), (-10.45661585751269, '0001'), (-10.45661585751269, '00051'), (-10.45661585751269, '002'), (-10.45661585751269, '004secs'), (-10.45661585751269, '007'), (-10.45661585751269, '0100'), (-10.45661585751269, '0130'), (-10.45661585751269, '019secs'), (-10.45661585751269, '0227'), (-10.45661585751269, '028'), (-10.45661585751269, '0305'), (-10.45661585751269, '040'), (-10.45661585751269, '0469'), (-10.45661585751269, '053bn'), (-10.45661585751269, '0800'), (-10.45661585751269, '0870'), (-10.45661585751269, '090'), (-10.45661585751269, '1000000000')]
entertainment [(-8.613260493776794, 'stock'), (-8.60427307626571, 'new'), (-8.577506079896372, 'firms'), (-8.57157225931154, 'rise'), (-8.566396008929635, 'government'), (-8.546549679980423, 'yukos'), (-8.370228484903935, '2004'), (-8.365628689869363, 'prices'), (-8.352785134212938, 'firm'), (-8.311158085240452, 'economic'), (-8.297926644109499, 'shares'), (-8.282300993198296, 'mr'), (-8.243739393210502, 'oil'), (-8.202936389020412, 'company'), (-8.198543163217678, 'economy'), (-8.166558324816604, 'sales'), (-8.141683196044053, 'year'), (-8.12592853179391, 'market'), (-8.122109102459538, 'bank'), (-8.105312532026895, 'growth')]

### Test on new dataset

In [28]:
# Import new data
os.chdir('/home/nbuser/library/1. Classifier/3. Exploratory Data Analysis')
new_data = pd.read_csv('news_df_validation.csv')
new_data.head(10)

,file_name,title,news_text,category
0,214.txt,Mansfield 0-1 Leyton Orient,An second-half goal from Andy Scott condemned ...,sports
1,303.txt,Film production 'falls' 40% in UK,The number of British films produced in the UK...,entertainment
2,083.txt,Hague 'given up' his PM ambition,Former Conservative leader William Hague says ...,politics
3,190.txt,SA return to Mauritius,Top seeds South Africa return to the scene of ...,sports
4,103.txt,Minimum rate for foster parents,Foster carers are to be guaranteed a minimum a...,politics
5,088.txt,Ocean's Twelve raids box office,"Ocean's Twelve, the crime caper sequel starrin...",entertainment
6,155.txt,Disputed Nirvana box set on sale,A box set featuring 68 unreleased Nirvana trac...,entertainment
7,077.txt,DVD review: Spider-Man 2,It's a universal rule that a film can either b...,entertainment
8,227.txt,Spam e-mails tempt net shoppers,Computer users across the world continue to ig...,tech
9,039.txt,Chinese wine tempts Italy's Illva,Italy's Illva Saronno has agreed to buy 33% of...,business

In [29]:
new_data.category.value_counts()

business         56
politics         49
sports           48
tech             36
entertainment    33
Name: category, dtype: int64

#### Count Vectorizer on test dataset

In [30]:
def new_data_count_vec_predict(test_new_data):
    clean_df = clean_all_text(test_new_data)
    nb_classifier = MultinomialNB()
    nb_classifier.fit(count_train, y_train)
    count_test = count_vectorizer.transform(test_new_data['news_text'])
    new_cv_pred = nb_classifier.predict(count_test)
    return new_cv_pred

In [31]:
def print_new_data_pred(test_data, index):
    new_data_cat = new_data['category']
    print(new_data_count_vec_predict(test_data)[index],' == ', new_data_cat[index])

In [35]:
print_new_data_pred(new_data, 118)

sports  ==  sports

In [47]:
count_vec_new_pred = new_data_count_vec_predict(new_data)

#### TFIDF new dataset test

In [36]:
def new_data_ftidf_vec_predict(test_new_data):
    clean_df = clean_all_text(test_new_data)
    nb_classifier = MultinomialNB()
    nb_classifier.fit(tfidf_train, y_train)
    ftidf_test = tfidf_vectorizer.transform(test_new_data['news_text'])
    new_tfidf_pred = nb_classifier.predict(ftidf_test)
    return new_tfidf_pred

In [45]:
tfidf_new_pred = new_data_ftidf_vec_predict(new_data)

In [44]:
print(tfidf_new_pred[112])

sports

In [49]:
count_vec_score = metrics.accuracy_score(count_vec_new_pred, new_data['category'])
print('Count vectorize score: ',count_vec_score)
print()
tfidf_vec_score = metrics.accuracy_score(new_data_ftidf_vec_predict(new_data), new_data['category'])
print('TF-IDF score: ',tfidf_vec_score)

Count vectorize score:  0.9774774774774775

TF-IDF score:  0.972972972972973

### What the... Score! CV: 0.9774774774774775, TFIDF: 0.972972972972973