In [19]:
import os
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
# Loading file from path
def loading_file():
    file_dir = '/home/nbuser/library/1. Classifier/3. Exploratory Data Analysis'        
    file_list = glob.glob(file_dir + '/*.csv')
    csv_file = file_list[0]
    return csv_file

# Import file imto Pandas DataFrame
def importing_file(csv_file):
    df = pd.read_csv(csv_file, sep=",")
    return df

# Saving path
def saving_file(file, file_name, save_dir):
    file.to_csv(os.path.join(save_dir,file_name))

### Importing  file

In [21]:
# Importing file + Loading  file
news_df = importing_file(loading_file())

# Top 5 records
news_df.head()

,file_name,title,news_text,category
0,348.txt,Berlin celebrates European cinema,Organisers say this year's Berlin Film Festiva...,entertainment
1,139.txt,U2 to play at Grammy awards show,Irish rock band U2 are to play live at the Gra...,entertainment
2,125.txt,Snow Patrol feted at Irish awards,Snow Patrol were the big winners in Ireland's ...,entertainment
3,267.txt,T in the Park sells out in days,Tickets for Scotland's biggest music festival ...,entertainment
4,311.txt,Corbett attacks 'dumbed-down TV',Ronnie Corbett has joined fellow comedy stars ...,entertainment

In [24]:
news_df['news_text'].apply(lambda x: len(x.split(' '))).sum()

766239

### Clean the news_text column

In [25]:
import re
def clean_text(x):
    pattern = r'[^a-zA-z0-9\s]'
    text = re.sub(pattern, '', x)
    return text

In [26]:
def clean_all_text(df):
    for index, item in df.iterrows():
        cleantext = clean_text(item['news_text'])
        item['news_text'] = cleantext
        
    return df

In [27]:
clean_df = clean_all_text(news_df)

print(news_df.iloc[22, 2])

The remaining members of rock band Queen are to go on tour next year with former Free and Bad Company singer Paul Rodgers taking Freddie Mercurys placeGuitarist Brian May has said he expects to be on the road with Rodgers and drummer Roger Taylor from April May said Suddenly the Queen Phoenix is rising again from the ashes and will take precedence over our lives Queen have played with many different singers since Mercurys death in 1991 but have reportedly not toured May performed with Rodgers at a concert to celebrate the 50th anniversary of the Fender Stratocaster guitar in London in SeptemberWe were both so amazed at the chemistry that was going on in [Free hit] All Right Now that suddenly it seems blindingly obvious that there was something happening here May wrote on his website They teamed up again for a concert to mark their induction into the UK Music Hall of Fame and were joined by Taylor The show went so incredibly well from our point of view and we got so many rave reactions from out there we decided almost then and there that we would look at a tour together May wroteQueen went to number one in 2000 with a version of We Will Rock You sung by boy band 5ive and they have also played with Robbie Williams Will Young and Bob Geldof Queen bassist John Deacon has currently retired from the stage Rodgers was singer with early 1970s rockers Free who had a global hit with All Right Now before forming Bad Company a successful supergroup with members of King Crimson and Mott the Hoople He has also been in The Firm with Led Zeppelins Jimmy Page and The Law with The Small Faces and The Who drummer Kenny Jones

In [18]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/nbuser/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [28]:
# We remove stop-words and use NLTK tokenizer 
def tokenize_text(text):
    tokens = []
    for sent in nltk.sent_tokenize(text):
        for word in nltk.word_tokenize(sent):
            if len(word) < 2:
                continue
            tokens.append(word.lower())
    return tokens

In [32]:
# Import necessary modules
from nltk.tokenize import sent_tokenize, word_tokenize
  

for index, raw in news_df.iterrows():
    text = raw[2]
    
    # Split scene_one into sentences: sentences
    sentences = sent_tokenize(text)

    # Use word_tokenize to tokenize the fourth sentence: tokenized_sent
    tokenized_sent = word_tokenize(sentences[3])

    # Make a set of unique tokens in the entire scene: unique_tokens
    unique_tokens = set(word_tokenize(text))

print(unique_tokens)

IndexError: list index out of range

In [32]:
def print_plot(index):
    example = news_df[news_df.index == index][['news_text', 'category']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Genre:', example[1])

In [33]:
print_plot(13)

US rap star 50 Cent has said he has thrown protege The Game out of his G-Unit gang in a feud that has apparently involved two shootings.In a radio interview on Monday, 50 Cent said the newcomer was disloyal in conflicts with other rappers. A man was shot in the thigh outside New York's Hot 97 studios while 50 Cent was on air. More shots were fired outside his management offices two hours later. 50 Cent appeared on The Game's debut album, which was number one in the US. 50 Cent, whose second album is about to be released after his debut made him one of hip-hop's biggest stars, has been involved in recent rivalries with fellow artists including Fat Joe, Nas and Jadakiss.He has claimed credit for the success of The Game, who has become the hottest new star on the rap scene. Both were drug dealers and were shot before turning to music.In an interview with Hot 97 on Saturday, The Game described some of 50 Cent's rivals as "my friends" and said he would not turn on them. "Nas is one of my friends, and Jada's really a homie," he said. "50's beef is 50's beef and I really don't know where all this stems from." When 50 Cent appeared on the same station two days later, he said The Game was no longer a member of G-Unit. "Every record he's selling is based on me being on his record with him," he said. When the shooting took place outside the studio, the interview was ended and the rapper was escorted out of the building by security personnel.An unidentified 24-year-old Los Angeles man is stable with a gunshot wound to the upper thigh. Police say The Game's associates may have heard the interview and gone to the studio, where they confronted 50 Cent's entourage. Officers are also investigating a later shooting in which eight bullets were fired into the door of 50 Cent's management company, Violator. No arrests have been made in relation to either incident. 50 Cent's second album, The Massacre, is released on Thursday, five weeks after The Game's debut, Documentary, went to number one.Elliott Wilson, editor-in-chief of hip-hop magazine XXL, said the feud would boost publicity for 50 Cent's release. "It helps him obviously in terms of exposure. You can't ask for better promotion," he said. But he added: "I think he's making more and more enemies. "You definitely feel like is he doing too much of a Tupac spiral, like me against the world. You bring more people wanting to see you fail." Tupac Shakur was shot dead in 1996.
Genre: entertainment

In [ ]:
print_plot(209)